* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    text-align: center;
}


.container h1 {
 font-size: 3em;
 padding-bottom: .3em;
}

#value {
    font-size: 7em;
}

.btn {
    border: 2px solid black;
    border-bottom: 4px solid black;
    padding: 5px 10px;
    margin: 0px 10px;
    border-radius: 5px;
    letter-spacing: 2px;
}